In [1]:
#Import the helper functions 'get_all_regions' and 'get_statistics'
#Import the module Query for the main functionality
import os
if not os.path.basename(os.getcwd()) == "datenguide-python":
    os.chdir("..")

from datenguidepy.query_helper import get_regions, get_statistics
from datenguidepy import Query
import pandas as pd
import matplotlib
%matplotlib inline

pd.set_option('display.max_colwidth', 150)

In [4]:
#Regions IDs for Germany states
get_regions().query("level == 'nuts1'")

                              name  level parent
region_id
10                        Saarland  nuts1     DG
11                          Berlin  nuts1     DG
12                     Brandenburg  nuts1     DG
13          Mecklenburg-Vorpommern  nuts1     DG
14                         Sachsen  nuts1     DG
15                  Sachsen-Anhalt  nuts1     DG
16                       Thüringen  nuts1     DG
01              Schleswig-Holstein  nuts1     DG
02                         Hamburg  nuts1     DG
03                   Niedersachsen  nuts1     DG
04                          Bremen  nuts1     DG
05             Nordrhein-Westfalen  nuts1     DG
06                          Hessen  nuts1     DG
07                 Rheinland-Pfalz  nuts1     DG
08         Baden-Württemberg, Land  nuts1     DG
09                          Bayern  nuts1     DG

In [14]:
#get the data for accidents (total)
query = Query.region(['01', '02', '03','04', '05','06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16'])
accidents_total = query.add_field('VER001')
query.results()

,id,name,year,VER001,VER001_source_title_de,VER001_source_valid_from,VER001_source_periodicity,VER001_source_name,VER001_source_url
0,01,Schleswig-Holstein,1995,20056,Statistik der Straßenverkehrsunfälle,1995-12-31T00:00:00,JAEHRLICH,46241,None
1,01,Schleswig-Holstein,1995,20056,Statistik der Straßenverkehrsunfälle,1995-12-31T00:00:00,JAEHRLICH,46241,None
2,01,Schleswig-Holstein,1995,20056,Statistik der Straßenverkehrsunfälle,1995-12-31T00:00:00,JAEHRLICH,46241,None
3,01,Schleswig-Holstein,1996,18240,Statistik der Straßenverkehrsunfälle,1995-12-31T00:00:00,JAEHRLICH,46241,None
4,01,Schleswig-Holstein,1996,18240,Statistik der Straßenverkehrsunfälle,1995-12-31T00:00:00,JAEHRLICH,46241,None
...,...,...,...,...,...,...,...,...,...
65,16,Thüringen,2016,9081,Statistik der Straßenverkehrsunfälle,1995-12-31T00:00:00,JAEHRLICH,46241,None
66,16,Thüringen,2017,9086,Statistik der Straßenverkehrsunfälle,1995-12-31T00:00:00,JAEHRLICH,46241,None
67,16,Thüringen,2017,9086,Statistik der Straßenverkehrsunfälle,1995-12-31T00:00:00,JAEHRLICH,46241,None
68,16,Thüringen,2017,9086,Statistik der Straßenverkehrsunfälle,1995-12-31T00:00:00,JAEHRLICH,46241,None
69,16,Thüringen,2018,8945,Statistik der Straßenverkehrsunfälle,1995-12-31T00:00:00,JAEHRLICH,46241,None

In [9]:
#Accidents (total)
# 
#  Explanation for the following statistics (s): 46241 Statistics of road accidents
#  Connotation: road accidents
#  Proven are those controlled by the police accidents from the reference year 1995, in which were killed or injured as a result of vehicular traffic on public roads and squares persons or material damage. Among the accidents with property damage include serious accidents involving damage to property in the narrow sense in which an offense or a misdemeanor (fine) was present, while at least one vehicle due to an accident damage will be towed from the accident site had, as well as other property damage accidents under the influence of intoxicating substances ( at least one accident participant was under the influence of intoxicating substances, and if car were involved, they were all still roadworthy).
# Not included are all other property damage accidents without the influence of intoxicating substances.
# From 1 January 1995, the accidents were established new criteria with property damage within the meaning of the Road Traffic Accident Statistics Act for the acquisition. Unlike previous years under review serves as a collection basis is no longer the height of the resulting material damage, but the determination of whether it is a criminal offense / a misdemeanor and / or at least one accident participant under the influence of alcohol / January 1, 2008 under the influence of intoxicating substances was , the motor pool of vehicles will also be included in the assessment of the accident. Therefore, a comparison with previous years is not possible.

In [16]:
#meta data
accidents_total.get_info()

kind:
OBJECT

description:
Unfälle (insgesamt)

arguments:
year: LIST of type SCALAR(Int)

statistics: LIST of type ENUM(VER001Statistics)
enum values:
R46241: Statistik der Straßenverkehrsunfälle

fields:
id: Interne eindeutige ID
year: Jahr des Stichtages
value: Wert
source: Quellenverweis zur GENESIS Regionaldatenbank

enum values:
None

In [27]:
#accidents (total) ordered by year
query = Query.region(['01', '02', '03','04', '05','06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16'])
accidents_total = query.add_field('VER001')
query.results(verbose_enums=True).sort_values('year')

,id,name,year,VER001,VER001_source_title_de,VER001_source_valid_from,VER001_source_periodicity,VER001_source_name,VER001_source_url
0,01,Schleswig-Holstein,1995,20056,Statistik der Straßenverkehrsunfälle,1995-12-31T00:00:00,JAEHRLICH,46241,None
0,15,Sachsen-Anhalt,1995,23414,Statistik der Straßenverkehrsunfälle,1995-12-31T00:00:00,JAEHRLICH,46241,None
1,15,Sachsen-Anhalt,1995,23414,Statistik der Straßenverkehrsunfälle,1995-12-31T00:00:00,JAEHRLICH,46241,None
2,15,Sachsen-Anhalt,1995,23414,Statistik der Straßenverkehrsunfälle,1995-12-31T00:00:00,JAEHRLICH,46241,None
2,06,Hessen,1995,39524,Statistik der Straßenverkehrsunfälle,1995-12-31T00:00:00,JAEHRLICH,46241,None
...,...,...,...,...,...,...,...,...,...
69,03,Niedersachsen,2018,39233,Statistik der Straßenverkehrsunfälle,1995-12-31T00:00:00,JAEHRLICH,46241,None
69,02,Hamburg,2018,9995,Statistik der Straßenverkehrsunfälle,1995-12-31T00:00:00,JAEHRLICH,46241,None
69,01,Schleswig-Holstein,2018,14829,Statistik der Straßenverkehrsunfälle,1995-12-31T00:00:00,JAEHRLICH,46241,None
69,15,Sachsen-Anhalt,2018,9781,Statistik der Straßenverkehrsunfälle,1995-12-31T00:00:00,JAEHRLICH,46241,None
69,16,Thüringen,2018,8945,Statistik der Straßenverkehrsunfälle,1995-12-31T00:00:00,JAEHRLICH,46241,None

In [28]:
#I need to know how to download the above data as .CSV and/or .XLSX file.... any ideas??